#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.elf
*.bin
*.gz
*.bz2
*.order
*.symvers

#
# Rules for report
#
*~
*.aux
*.aux.bak
*.bbl
*.blg
*.dvi
*.log
*.ps
*.pdf
*.swp


#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!report/Report.pdf
!linux-3.3.0-patches/.config
!sdcard/ramdisk.cpio.gz
!datasheets/*.pdf
